*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-header {
  letter-spacing: 6px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #f80;
  color: #f00;
  text-align: center;
}
